.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
    background-color:#343a40
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

.card {
    background-color:#212529;
    border-radius: 2px;
    border-width: 2px;
    border-color: black;
}
.card-body {
    background-color:#212529;
}

.card-title {
    background-color:#212529;
}
h4 {
    font-family: 'Raleway', serif !important;
    font-weight: bold;
    color:rgb(214, 6, 6);
    margin-top:10px;
}

p {
    font-family:  'Raleway', serif !important;
    color:lightgray;
    margin-top:10px;
     
}

.offcanvas-top{
    height: fit-content;
}

.card {
    background-color:#212529;
    border-radius: 2px;
    border-width: 2px;
    border-color: black;
}
.card-body {
    background-color:#212529;
}

.card-title {
    background-color:#212529;
}
h4 {
    font-family: 'Raleway', serif !important;
    font-weight: bold;
    color:rgb(214, 6, 6);
    margin-top:10px;
}

p {
    font-family:  'Raleway', serif !important;
    color:lightgray;
    margin-top:10px;
     
}


.dropdown-menu {
font-family: 'Raleway', serif !important;
width: 100%;
height: 150px;
margin-top: 40px;
text-align: center;
}

.offcanvas-title {
    font-family: 'Raleway', serif !important;
    color:red;
    font-weight: bold;
    font-size: xx-large;
}

hr {
    border: 2px solid red;
    margin-bottom: 40px;
}
#dropdownMenuButton {
    background-color: red;
    float: right;
}
.genres {
    font-family: 'Raleway', serif !important;
    color:black;
    font-style: italic;
    display: inline-block;
}

.offcanvas-body {
    font-family: 'Raleway', serif !important;
    color:black;
    font-size: medium;
}

.dropdown-menu {
    border: 2px solid red;
}

